@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #1b1b1b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
