@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #1b1b1b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.loginForm input {
  background: #ffffff1e;
  border: 1px solid #535c91;
  outline: none;
  padding: 5px 12px;
  border-radius: 7px;
  width: 100%;
  
}
.errorPara {
  color: rgb(245, 62, 62);
  font-weight: bold;
  font-size: 11px;
}